---
name: Pipeline
on:
  push: {}

permissions:
      id-token: write
      contents: read

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: 3.11
          cache: 'pip'

      - name: Install Python Requirements
        run: |
          pip install -qr requirements.txt
          pip freeze

      - name: Lint
        run: make lint

      - name: Build
        run: make build

      - name: Test
        run: make test
